img{
      border: 1px red;
      width: 200px;
      height: 200px;
      border-radius: 90%;
     }
#demo{
        border: 1px red;
        width: 200px;
        height: 200px;
        border-radius: 90%;
       }
.demo{
        border: 1px red;
        width: 200px;
        height: 200px;
        border-radius: 90%;
       }
     
     
     